*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style-type: none;
}
ul li{
    list-style-type: none;
}


/*--------- INDEX ---------- */
/* HEADER */


.navbar{
    height: 10vh;
    
}
.titulo-header{
    text-align: center;
    text-transform: uppercase;
}

.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    font-size: 15px;
}

@media (min-width:1020px){
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center
    }
    .nav{
        width: 50%;
    }
    
}




/* SECCION INICIO */
.portada{
    background-image: url(../img/snack-g84ad2dc2d_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    align-items: center;
   
}



.texto-portada{
    background-color: rgba(2, 0, 0, 0.534);
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: 10px;
}

@media (min-width:800px){
    .texto-portada{
        font-size: 2rem;
    }
}






/* MAIN */


.main{
    
    justify-items: center;
    align-items: start;
    
    
    
}

.productos{
    padding: 10px;
    font-size: 2rem;
}

.contenedor-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
   
    
    
    

}
.letra{
    font-size: 35px;
}

h2{
    background-color: rgba(2, 0, 0, 0.534);
    text-align: center;
    color: white;
    padding: 15px;
    grid-area: titulo;
    margin-top: 25px;
    
} 


/* tipografia de todo el documento */
html{
    font-family: 'Merriweather', serif;

}
body{
    background-color: rgb(238, 222, 131);
}




/* tarjetas */

.producto{
    
    background-image: url("../img/hamburger-g04bea9924_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    width: 350px;
    height: 550px;
    border: 8px white solid;
    padding: 50px;
    text-transform: uppercase;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.producto:hover{
    border: 10px black solid;
}

.tarjeta__imagen{
    width: 100%;
}
.producto__titulo{
    background-color: rgba(0, 0, 0, 0.466);
    padding: 5px;
    margin-bottom: 10px;
}
.btn-outline-success{
    
    display: flex;
    justify-content: center;
}
.btn-outline-success:hover{
    background-color: rgb(53, 245, 6);
    width: 100px;
    height: 40px;
    color: white;
}

.producto__descripcion{
    list-style-type: none;
    margin-right: 25px;
}

.subtituloinicio{
    font-size: 2rem;
}




/* publicidad del catalogo */
.catalogo-index{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    
}

@media (max-width:700px){
    .parrafo-catalogo{
        font-size: 20px;
    }
    .catalogo-index{
        margin: 10px;
        overflow: hidden;
    }
}

.texto-catalogo-index{
    text-align: center;
    text-transform: uppercase;
    background-color:rgba(255, 255, 255, 0.199);
    font-size: 2rem;
    padding: 10px;
    
}



/* footer */

.footer{
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-between;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    margin-top: 50px;
}
.texto-footer{
    font-size: 8px;
    text-decoration: none;
}

@media (min-width:800px){
    .texto-footer{
        font-size: 2rem;
    }
}
.nav-item:hover{
    font-size: 18px;
}

/* iconos */
.icono-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.footer i{
    font-size: 1.5rem;
    
}
.footer i:hover{
    color: yellow;
    font-size:2rem;
    

}



/*-------- PREPARACION --------- */
.section-preparacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 10px;
    
}

.ingredientes{
    width: 50vh;
    height: 60vh;
    border: 5px black solid;
    padding:20px ;
    text-align: center;
    font-size: 25px;
}
.ingredientes:hover{
    border: 8px white solid;
    background-color: black;
    color: white;
}

.sinpuntos{
    list-style-type: none;
}
.contenedor-preparacion{
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgba(251, 255, 5, 0.445);
}
.pasos-preparacion{
    width: 80vh;
    height: 120vh;
    border: 5px black solid;
    padding:20px ;
    text-align: center;
    font-size: 25px;
}

.pasos-preparacion:hover{
    border: 8px white solid;
    background-color: black;
    color: white;
}





/* -------- HISTORIA ---------*/
.textohistoria{
    text-align: center;
    /* width: 800px;
    height: 800px; */
    /* border: 8px white solid; */
    
    /* padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px; */
    
}

.titulohistoria{
    font-size: 2rem;
}





/*--------- CONTACTO -------- */

.tabla{
    width: 120vh;
    height: 190vh;
    border: 8px violet solid;
    color:black ;
    font-size: 2rem;
    text-align: center;
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px 750px 50px 600px;
    background-color: white;
}
.width-formulario{
    width: 100vh;
}





/*---------CATALOGO---------*/

.fondo-negro-catalogo{
    text-align: center;
    color: white;
    background-color: black;
}
.texto-catalogo{
    width: 500px;
    height: 300px;
    border: 5px rgb(255, 255, 255) solid;
    background-color: black;
    padding-top: 80px;
    margin-top: 80px;
    margin-left: 700px;
}
.card{
    width: 50rem;
    height: 30rem;
    padding-top: 15px;
}
.espacioimagen4{
    margin-top: 10px;
    margin-bottom: 30px;
}
.espacioimagen5{
    margin-top: 10px;
    margin-bottom: 10px;
}
.espacioimagen6{
    margin-top: 10px;
    margin-bottom: 30px;
}
