.footer{
    height: 200px;
}
.texto-footer{
    font-size: 16px;
}

@media (min-width:800px){
    .texto-footer{
        font-size: 2rem;
    }
}
.nav-item:hover{
    font-size: 17px;
    transition-duration: 0.1s;
}