.footer{
    height: 200px;
    &__texto{
        font-size: 16px;
    }
}
.nav-item{
    font-size: 14px;
    
}
@media (min-width:800px){
    .footer__texto{
        font-size: 2rem;
    }
    .nav-item{
        font-size: 15px;
    }
}
.nav-item:hover{
    font-size: 17px;
    transition-duration: 0.1s;
}


