@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center; 
}
@media (min-width:1020px){
    .header{
       @include flex-center;
    }
    .nav{
        width: 50%;
    }   
}
.portada{
    background-image: url(../img/snack-g84ad2dc2d_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    @include flex-center;
    flex-direction: column;
    align-items: baseline;
   

    &__texto{
        background-color: rgba(2, 0, 0, 0.534);
        text-align: center;
        color: white;
        font-size: 18px;
        padding: 10px;
    }
}  

@media (min-width:1020px){
    .portada__texto{
        font-size: 1.8rem;
    }
}