.main{
    justify-items: center;
    align-items: start;   
}
.productos{
    padding: 10px;
    font-size: 2rem;
}
.letra{
    font-size: 35px;
}
@mixin titulos {
    background-color: rgba(2, 0, 0, 0.534);
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 25px; 
}
h1{
    @include titulos   
}

h2 {
    @include titulos
}
.titulohistoria{
    font-size: 2rem;
}