.navbar{
    height:20vh;
    
}
@media (min-width:1024px){
    .navbar{
        height: 15vh;
    }
}
@media (min-width:320px) and (max-width:480px){
    .productos{
        font-size: 10px;
    }
}
