.navbar{
    height:30vh;
    
}
@media (min-width:1024px){
    .navbar{
        height: 15vh;
    }
}
@media (min-width:320px) and (max-width:480px){
    .menunav{
        height: 70vh;
    }
    .productos{
        font-size: 10px;
    }
}
