*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style-type: none;
}
ul li{
    list-style-type: none;
}

html{
    font-family: 'Merriweather', serif;
}
body{
    background-color: rgb(238, 222, 131);
}
