.icono-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.footer i{
    font-size: 2rem;
    transition-duration: 0.5s;
}
.bi-instagram:hover{
    color: rgb(125, 17, 125);
    font-size:2.3rem;
}
.bi-whatsapp:hover{
    color: rgb(15, 195, 15);
    font-size:2.3rem;
}
.bi-twitter:hover{
    color: rgb(22, 220, 180);
    font-size:2.3rem;
}